
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.leaflet-container{

  margin-top: 40px;
  width: 56%;
  height: 55vh;
  margin-left: 20%;
  padding-bottom: 66px;
}


.leaflet-popup-content > img{

width: 77px;
height: 77px;
}


